<section>
    <img alt="Selger min Xbox One med tilbehør"
         src="https://images.finncdn.no/dynamic/1280w/2019/8/vertical-5/26/1/156/022/381_657975658.jpg">
    <div class="padded address">Svingen 1, 1064 Oslo</div>
    <div class="padded title">Selger min Xbox One med tilbehør</div>
    <div class="padded contactSeller"><input type="button" value="Contact seller"></div>
    <div class="padded description">Xbox one med kinect, 2 kontrollere, lader til kontrollene! Det følger også med ratt
        og
        pedaler. Dette er av typen logitech T920 så det fungerer veldig bra!
    </div>
</section>
