<a href="#listing">
    <section>
        <img alt="Selger min Xbox One med tilbehør"
             src="https://images.finncdn.no/dynamic/1280w/2019/8/vertical-5/26/1/156/022/381_657975658.jpg">
        <div class="left postalArea">Oslo</div>
        <div class="right price">2 000 kr</div>
        <div class="clear title">Selger min Xbox One med tilbehør</div>
    </section>
</a>
<a href="#listing">
    <section>
        <img alt="Dali Opticon 6 demo modell"
             src="https://images.finncdn.no/dynamic/960w/2019/8/vertical-5/28/1/156/198/691_943923721.jpg">
        <div class="left postalArea">Sandvika</div>
        <div class="right price">12 996 kr</div>
        <div class="clear title">Dali Opticon 6 demo modell</div>
    </section>
</a>
